:root {
  --browser-background: #15141a;
  --browser-fg: #8be9fd;
  --browser-border: #ff79c6;
  --browser-bg-for-header-image: #4d4d4d;
  --browser-bg-hover-for-header-image: #666666;
  --browser-bg-active-for-header-image: #000000;
  --browser-tab-highlighter: #ff5555;
}

.tab:not(:hover) > .closebox {
  display: none;
}

.closebox:hover {
  font-weight: 900;
}
 
.tab.unread .label {
  color: #f1fa8c !important;
}

tab-item.active tab-twisty,
tab-item.active .label-content,
tab-item.active tab-counter {
  color: #ff5555;
}

.newtab-button-box {
  display: none;
}
#tabbar {
  bottom: 0 !important;
}
