:root {
  --sidebar-width: 180px;
  --toolbar-height: -26px;
  --menubar-height: -40px;
  --toolmenubar-height: -65px; /* sum of previous two */
}

/* Cooooloooors */
#navigator-toolbox{
  color:     #ff6e67!important;
  background:#15141a !important;
}
#nav-bar{
  color:     #ff6e67!important;
  background:#15141a !important;
}
#urlbar-background{
  background:   #15141a !important;
  border-color: #b5538b !important;
}
#urlbar{
  color: #8be9fd!important;
}


/* show bookmarks toolbar on new tab only */
#main-window #PersonalToolbar {
  visibility: collapse !important;
  z-index: 1!important;
  position: relative!important;
  margin-left: var(--sidebar-width); /* shift toolbar to the right out of the way of the sidebar */
  margin-top: var(--toolbar-height) !important;
}

#main-window[title^="Firefox Developer Edition"] #PersonalToolbar {
  visibility: visible !important;
  margin-top: -1px !important;
}

/* lock sidebar to height by doing the inverse margin of the toolbar element */
#sidebar-box {
  z-index: 1000 !important;
  position: relative!important;
  margin-top: var(--menubar-height) !important;
  border-right: 1px solid #ccc;
}

#main-window[title^="Firefox Developer Edition"] #sidebar-box {
  margin-top: var(--toolmenubar-height) !important;
}

/* lock sidebar to specified width */
#sidebar-box, #sidebar-box #sidebar {
    min-width: var(--sidebar-width) !important;
    max-width: var(--sidebar-width) !important;
}

/* hide sidebar header for tree style tabs sidebar */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

/* Hide the title bar */
#titlebar{ visibility: collapse; }

/* hide normal horizontal tab bar */
#TabsToolbar { visibility: collapse; }

#sidebar { border-right: 1px solid #ccc; }

toolbar#nav-bar {
  padding-top: 12px;
  padding-bottom: 7px;
  margin-left: var(--sidebar-width);
  padding-left: 7px;

}

#sidebar-splitter {  visibility: collapse; !important; }
#urlbar-input-container { raduis: 0 }

